{% extends 'accounts/main.html' %}
{% load static %}
{% load mathfilters %}

{% block content %}

<div class="user-main main friends-main">
    <div class="profile-container container">
        <div class="friend-requests">
            <header>
                <h4>Friend Requests:</h4>
            </header>
            <div class="container-wide-profile">
                <ul>
                    {% for request in friend_requests %}

                    <li class="wide-profile-card">
                            <div class="wide-profile-pic image-container">
                                <a href="{% url 'accounts:user_page' pk=request.sender.id %}"><img src="{{request.sender.customer.profile_pic.url}}" /></a>
                            </div>
                            <div class="profile-details">
                                <div class="profile-name">
                                    <a href="{% url 'accounts:user_page' pk=request.sender.id %}">{{request.sender.customer.first_name}} {{request.sender.customer.last_name}}</a>
                                </div>
                                <div class="profile-title">
                                    {{request.sender.customer.title}}
                                </div>
                            </div>
                            <div class="profile-btn">
                                <a href="{% url 'friend:friend-request-decline' pk=request.sender.customer.user.id %}" class="btn solid small" id="decline-btn">Decline</a>
                                <a href="{% url 'friend:friend-request-accept' pk=request.sender.customer.user.id %}" class="btn solid small">Accept</a>
                            </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="profile-container container" id="friends-container">
        <div class="friend-requests" id="friends-list">
            <header>
                <h4>Your Friends:</h4>
            </header>
            <div class="container-wide-profile">
                <ul>
                    {% for profile in friends_list %}
                        <li class="wide-profile-card">
                            <div class="wide-profile-pic image-container">
                                <a href="{% url 'accounts:user_page' pk=profile.id %}"><img src="{{profile.customer.profile_pic.url}}" /></a>
                            </div>
                            <div class="profile-details">
                                <div class="profile-name">
                                    <a href="{% url 'accounts:user_page' pk=profile.id %}">{{profile.customer.first_name}} {{profile.customer.last_name}}</a>
                                </div>
                                <div class="profile-title">
                                    {{profile.customer.title}}
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock content %}