{% extends 'accounts/main.html' %}
{% load static %}
{% load mathfilters %}

{% block content %}

<div class="user-main main">
    <div class="profile-container container">
        <div class="friend-requests">
            <header>
                <h4>Friend Requests:</h4>
            </header>
            <div class="container-wide-profile">
                <ul>
                    <li class="wide-profile-card">
                            <div class="wide-profile-pic">
                                <img src="C:\Users\erik1\Desktop\git\Greenr\accounts\static\images\default-user-image.png"/>
                            </div>
                            <!-- <div class="profile-details"></div>
                            <div>
                                
                            </div> -->

                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock content %}