{% load mathfilters %}
{% load static %}



<div class="tile-container">
		<div class="tile gauge">
			<div class="card emissions">
				<div class="circle">
						<div class="bar"></div>
						<div class="box"><span></span></div>
					</div>
				</div>   
				<div class="title">CO<div class="small">2</div></div>
				<div class="description">emitted this month</div>

			<div class="gauge-stats">
				<div class="stat-container">
					{% if account_most_common_transport == "Walk" %}
						<span class="dot"><img src="{% static 'images/icons/walk.png' %}"></span>	
					{% elif account_most_common_transport == "Run" %}
						<span class="dot"><img src="{% static 'images/icons/running.png' %}"></span>	
					{% elif account_most_common_transport == "Bicycle" %}
						<span class="dot"><img src="{% static 'images/icons/bicycle.png' %}"></span>
					{% elif account_most_common_transport == "Train" %}
						<span class="dot"><img src="{% static 'images/icons/train.png' %}"></span>	
					{% elif account_most_common_transport == "Bus" %}
						<span class="dot"><img src="{% static 'images/icons/bus.png' %}"></span>	
					{% elif account_most_common_transport == "Motorbike" %}
						<span class="dot"><img src="{% static 'images/icons/motorbike.png' %}"></span>
					{% elif account_most_common_transport == "Carpool" %}
						<span class="dot"><img src="{% static 'images/icons/carpool.png' %}"></span>	
					{% elif account_most_common_transport == "Car" %}
						<span class="dot"><img src="{% static 'images/icons/car.png' %}"></span>	
					{% elif account_most_common_transport == "Plane" %}
						<span class="dot"><img src="{% static 'images/icons/plane.png' %}"></span>	
					{% else %}
						<span class="dot"></span>	
					{% endif %}
					<div class="stat-text">
						<div class="stat">{{account_most_common_transport}}</div>
						<div class="stat-description">Their most used transport</div>
					</div>
				</div>

				<div class="stat-container">
					<span class="dot"><div class="stat">{{account_goal_percentage}}%</div></span>
					<div class="stat-text">
					<div class="stat">1000 kg</div>
					<div class="stat-description">Their Emissions allowance</div>
					</div>
				</div>
			</div>

		</div>
		
		<div class="tile chart-tile">
			<canvas id="myChart"></canvas>
        </div>
</div>

<script>
	// Gauge
	let options = {
		startAngle: -1.55,
		size: 150,
		fill: {gradient: ['#ff0f0f', '#008000', '#008000']}
	}
	$(".circle .bar").circleProgress(options).on('circle-animation-progress',
	function(event, progress, stepValue){
		$(this).parent().find("span").text(String(stepValue.toFixed(3)*1000) + "kg");
	});
	$(".emissions .bar").circleProgress({
		value: {{account_total_emissions}}/1000
	});

	// Emissions Graph
	var ctx = document.getElementById('myChart').getContext('2d');
	var myChart = new Chart(ctx, {
    type: 'line',
	plugins: [{
		afterLayout: chart => {
		var ctx = chart.chart.ctx;
		var xAxis = chart.scales['x-axis-0'];
		var gradientStroke = ctx.createLinearGradient(xAxis.left, 0, xAxis.right, 0);
		var dataset = chart.data.datasets[0];
		dataset.colors.forEach((c, i) => {
			var stop = 1 / (dataset.colors.length - 1) * i;
			gradientStroke.addColorStop(stop, dataset.colors[i]);
		});
		dataset.borderColor = gradientStroke;
		}
	}],
    data: {
        labels: {{labels|safe}},
        datasets: [{
            label: 'Your Emissions',
			borderColor: 'rgb(0, 99, 132)',
			colors: {{account_chart_colors|safe}},
			data: {{actual_emissions|safe}},
			fill: false,
        },
		{
            label: 'Their Emissions',
			backgroundColor: 'rgba(180, 227, 164, 0.2)',
			borderColor: 'rgb(0, 128, 0)',
			data: {{account_actual_emissions|safe}},
        }]
    },
    options: {
		responsive: true,
		maintainAspectRatio: false,
		title: {
			display: true,
			text: 'Their vs. Your Emissions this Month'
		}
    }
	});

</script>





