{% load mathfilters %}
{% load static %}



<div class="tile-container">
		<div class="tile tile1">
				<div class="upper-container mini-upper-container">
						<div class="image-container mini-image-container">
								<a href="{% url 'accounts:user_page' pk=user.id %}"><img src="{{user.customer.profile_pic.url}}"/></a>
						</div>
						<a href="{% url 'accounts:user_page' pk=user.id %}"><h3>{{user.customer.first_name}} {{user.customer.last_name}}</h3></a>
				</div>
				<div class="middle-container  mini-middle-container">
						<div>
								<h4>{{user.customer.title}}</h4>
								<p>Greater London Area</p>
						</div>
				</div>
		</div>
		<div class="tile gauge">
			<div class="card emissions">
				<div class="circle">
						<div class="bar"></div>
						<div class="box"><span></span></div>
					</div>
				</div>   
				<div class="title">CO<div class="small">2</div></div>
				<div class="description">emitted this month</div>

			<div class="gauge-stats">
				<div class="stat-container">
					{% if most_common_transport == "Walk" %}
						<span class="dot"><img src="{% static 'images/icons/car.png' %}"></span>	
					{% elif most_common_transport == "Run" %}
						<span class="dot"><img src="{% static 'images/icons/running.png' %}"></span>	
					{% elif most_common_transport == "Bicycle" %}
						<span class="dot"><img src="{% static 'images/icons/bicycle.png' %}"></span>
					{% elif most_common_transport == "Train" %}
						<span class="dot"><img src="{% static 'images/icons/train.png' %}"></span>	
					{% elif most_common_transport == "Bus" %}
						<span class="dot"><img src="{% static 'images/icons/bus.png' %}"></span>	
					{% elif most_common_transport == "Motorbike" %}
						<span class="dot"><img src="{% static 'images/icons/motorbike.png' %}"></span>
					{% elif most_common_transport == "Carpool" %}
						<span class="dot"><img src="{% static 'images/icons/carpool.png' %}"></span>	
					{% elif most_common_transport == "Car" %}
						<span class="dot"><img src="{% static 'images/icons/car.png' %}"></span>	
					{% elif most_common_transport == "Plane" %}
						<span class="dot"><img src="{% static 'images/icons/plane.png' %}"></span>	
					{% else %}
						<span class="dot"></span>	
					{% endif %}
					<div class="stat-text">
						<div class="stat">{{most_common_transport}}</div>
						<div class="stat-description">Most used transport</div>
					</div>
				</div>

				<div class="stat-container">
					<span class="dot"><div class="stat">67%</div></span>
					<div class="stat-text">
					<div class="stat">1000 kg</div>
					<div class="stat-description">Monthly allowance</div>
					</div>
				</div>
			</div>

		</div>
		
		<div class="tile profiles-tile">
            <header>
                <h4>Suggested For You</h4>
            </header>
            <div class="container-suggested-profile">
                <ul>
                    {% for profile in suggested_profiles %}
                        <li class="mini-profile-card">
                            <div class="mini-profile-pic image-container">
                                <a href="{% url 'accounts:user_page' pk=profile.user.id %}"><img src="{{profile.profile_pic.url}}" /></a>
                            </div>
                            <div class="mini-profile-details">
                                <div class="profile-name">
                                    <a href="{% url 'accounts:user_page' pk=profile.user.id %}">{{profile.first_name}} {{profile.last_name}}</a>
                                </div>
                                <div class="profile-title">
                                    {{profile.title}}
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
</div>

<script>
		let options = {
			startAngle: -1.55,
			size: 150,
			fill: {gradient: ['#ff0f0f', '#008000', '#008000']}
		}
		$(".circle .bar").circleProgress(options).on('circle-animation-progress',
		function(event, progress, stepValue){
			$(this).parent().find("span").text(String(stepValue.toFixed(3)*1000) + "kg");
		});
		$(".emissions .bar").circleProgress({
			value: {{total_emissions}}/1000
		});
</script>
