{% extends 'accounts/main.html' %}
{% load static %}
{% load mathfilters %}

{% block content %}

<div class="user-main main">
    <div class="profile-container container">
        <div class="upper-container">
            <div class="image-container">
                        <img src="{{customer.profile_pic.url}}" />
            </div>
            <h3>{{customer.first_name}} {{customer.last_name}}</h3>

            {%  if is_self %}
            <div class="edit-vector">
                <a href="{% url 'update_customer' %}" class="edit-link"><img src="{% static 'images/edit-icon.png' %}" alt="edit"></a>
            </div>
            {% endif %}
        </div>
        <div class="middle-container">
            <div>
                <h4>{{customer.title}}</h4>
                <p>Greater London Area</p>
            </div>

            {%  if not is_self %}
                {% if is_friend %}
                {% else %}
                    {% if request_sent == -1 %}
                        <div>
                            <a href="#" class="btn solid" id="add_friend_pc">Add Friend</a>
                            <a href="#" class="btn solid" id="add_friend_mobile">+</a>
                        </div>
                    {% endif %}

                    {% if request_sent == 1 %}
                    <div>
                        <a href="#" class="btn solid" id="add_friend_pc">Cancel Request</a>
                        <a href="#" class="btn solid" id="add_friend_mobile">Cancel</a>
                    </div>
                    {% endif %}

                    {% if request_sent == 0 %}
                    <div>
                        <a href="#" class="btn solid" id="add_friend_pc">Accept Request</a>
                        <a href="#" class="btn solid" id="add_friend_mobile">Accept</a>
                    </div>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
        <div class="lower-container">
            <div id="profile_description">
                <p>{{customer.description}}</p>
            </div>
            <div id="profile_events">
                <h2>{{friends|length}}</h2>
                <p>Tracked Activities</p>
            </div>
        </div>
    </div>
</div>



{% endblock %} 